/* =============================== RESIDENTINFO =========================== */

.residents__card {
    display: grid; 
    grid-template-rows: 1fr;
    width: 280px;
    height: 400px;
    position: relative;
    border: solid #8EFF8B;
}

.residents__img-container {
    width: 274px;
    height: 240px;
}

.residents__img {
    width: 100%;
    height: 240px;
}

.info__status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: solid #8EFF8B;
    padding: .5rem;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 170px;
    left: 95px;
    font-size: 14px;
    background-color: rgba(2, 10, 2, 0.8);
    color: #ffffff; 
}

.status {
    width: 10px;
    height: 10px;
}


/* =================== INFO CONTAINER ===================== */

.residents__info-container {
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 15px;
}

.residents__title {
    font-size: 1.5rem;
    border-bottom: 1px solid;
    color: #ffffff;
}

.residents__p {
    font-size: 16px;
    color: #ffffff;
}

.residents__span {
    font-size: 12px;
    color: rgb(223, 190, 190);
    margin-right: 15px;
}

/* =============================== LOCATION =========================== */

.location__container {
    display: flex;
    border: solid rgba(68, 104, 172, 0.966);
    width: 304.75px;
}

.location__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 74.50px;
    height: 48px;
}

.location__title {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.location__p {
    color: #ffffff;
    font-size: 9px;
    text-align: center;
}

/* =============================== PAGE =========================== */

.page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.page__p {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.page__btn {
    width: 18.8vw;
    height: 20px;
    font-size: 12px;
    background-color: #3a9637;
    color: #fbfbfb;
}


@media screen and (min-width: 420px) and (max-width: 550px) {
    /* =============================== LOCATION =========================== */

    .location__container {
        display: flex;
        flex-direction: unset;
        flex-wrap: nowrap;
        border: solid rgba(68, 104, 172, 0.966);
        width: 304.75px;
    }

    .location__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 20.4vw;
        height: 50px;
    }

    .location__title {
        font-size: 13px;
    }

    .location__p {
        font-size: 11px;
    }

 /* =============================== PAGE =========================== */
    .page__btn {
        width: 80px;
    }
}

@media screen and (min-width: 551px) and (max-width: 680px) {

    /* =============================== LOCATION =========================== */

    .location__container {
        width: 425px;
        flex-direction: unset;
        flex-wrap: nowrap;
    }

    .location__info {
        width: 107px;
        height: 60px;
    }

    .location__title {
        font-size: 16px;
    }

    .location__p {
        font-size: 12px;
    }

 /* =============================== PAGE =========================== */
    
    .page__btn {
        width: 80px;
    }
}

@media screen and (min-width: 681px) and (max-width: 1200px) {

    /* =============================== LOCATION =========================== */

    .location__container {
        width: 440px;
        flex-direction: unset;
        flex-wrap: nowrap;
    }

    .location__info {
        width: 107px;
        height: 60px;
    }

    .location__title {
        font-size: 16px;
    }

    .location__p {
        font-size: 12px;
    }

 /* =============================== PAGE =========================== */
    
    .page__btn {
        width: 80px;
    }
}

@media screen and (min-width: 1201px) {

    /* =============================== LOCATION =========================== */

    .location__container {
        width: 440px;
        flex-direction: unset;
        flex-wrap: nowrap;
    }

    .location__info {
        width: 107px;
        height: 60px;
    }

    .location__title {
        font-size: 16px;
    }

    .location__p {
        font-size: 12px;
    }

 /* =============================== PAGE =========================== */
    
    .page__btn {
        width: 80px;
    }
}
<<<<<<< HEAD
=======

>>>>>>> 5aafde267cbe930f785033ad7e5a2d0c151e8071
